{% for section_name, section in sections.items %}
<article id="" class="clearfix">
    <header class="section-contents">
        <h1>{{ section.title }}</h1>
        <div class="summary">
          <h3>{{ section.factoid_one.stat.this|floatformat|intcomma|cut:".0" }} total children, with {{ demographics.child_age.distribution_by_category.percent_under_5.values.this|floatformat|intcomma|cut:".0" }}% under age 5</h3>
          <h3 class="divider">|</h3>
          <h3>{{ families.child_care.child_care_capacity.values.this|floatformat|intcomma|cut:".0" }} child care capacity</h3>
        </div>
    </header>
    <div class="section-container">
        {% for row_name, row in section.rows.items %}
        <section class="clearfix stat-row">
            <div class="section-intro">
                <h2 class="header-for-columns">
                    <a class="permalink section" href="#youth-population" id="youth-population" title="Permalink">
                        {{ row.title }}
                    </a> 
                    <a class="permalink" href="#" title="Back to top">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </a>
                </h2>
                <aside></aside>
            </div>
                {% for design_name, design in row.designs.items %}
                    {% if design.metadata.chart_type == 'stat_list' %}     
                    <div class="{{ design.metadata.column_width }}">
                        {% include 'profile/_blocks/_stat_list.html' with stat=design.stat stat_type=design.metadata.stat_type %}
                    </div>
                    {% elif design.metadata.chart_type == 'chart-grouped_column' %}
                        <div class="{{ design.metadata.column_width }}" id="{{ design.metadata.chart_type }}-sections-{{ section_name }}-rows-{{ row_name }}-designs-{{ design_name }}" data-stat-type="scaled-percentage" data-chart-title="{{ design.metadata.name }}" data-initial-sort="-value" data-qualifier="Universe: {{ design.metadata.universe }}"></div>
                    {% elif design.metadata.chart_type == 'chart-column' %}
                        <div class="{{ design.metadata.column_width }}">
                            <div id="{{ design.metadata.chart_type }}-sections-{{ section_name }}-rows-{{ row_name }}-designs-{{ design_name }}" data-stat-type="scaled-percentage" data-chart-title="{{ design.metadata.name }}" data-initial-sort="-value" data-qualifier="Universe: {{ design.metadata.universe }}"></div>
                        </div>
                    {% else %}
                        <div class="{{ design.metadata.column_width }}">
                            <div id="{{ design.metadata.chart_type }}-sections-{{ section_name }}-rows-{{ row_name }}-designs-{{ design_name }}" data-stat-type="percentage" data-chart-title="{{ design.metadata.name }}" data-initial-sort="-value" data-qualifier="Universe: {{ design.metadata.universe }}"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        {% endfor %}
    </div>
</article>
{% endfor %}
